# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
openai==0.28.1
langchain==0.0.315
python-dotenv
pandas
azure-storage-blob
openpyxl 
azure-identity